<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <!--Nav -bar-->
    <header>
        <nav>
            <section class="container nav_bar flex">
                <div class="brand flex">
                    <img src=".\img\img25.png" width="60px" height="40px" alt="" class="logo">
                    <div class="logo-text">
                        <h3 class="logo-title">BUS_NEXUS</h3>
                        <p class="logo-subtitle">Bridging Gaps, Connecting Lives</p>
                    </div>
                    
                </div>
                <div>
                    <ul class="nav_links">
                        <li><a href="index.html" class="nav_link small-bold-text">Home</a></li>
                        <li><a href="#features-link" class="nav_link small-bold-text">Features</a></li>
                        <div class="dropdown">
                            <button class="nav_link small-bold-text">Account</button>
                            <div class="dropdown-content">
                                <a href="#" id="wallet"></a> <!---->
                                <a href="My_Bookings.html">My Bookings</a>
                                <a href="Search_Page.html">Search BUS</a>
                                <a href="My_Bookings.html">Cancel Bookings</a>
                                <a href="index.html">LOG OUT</a>
                            </div>
                        </div>
                        
                        <div class="menu dropdown">
                            <button><i class="ri-menu-line"></i></button>
                            <div class="dropdown-content">
                                <a href="index.html">Home</a>
                                <a href="#features-link">Features</a>
                                <a href="My_Bookings.html">My Bookings</a>
                                <a href="Search_Page.html">Search BUS</a>
                                <a href="My_Bookings.html">Cancel Bookings</a>
                            </div>
                        </div>
                        
                    </ul>
                </div>
            </section>
            <hr>
        </nav>
    </header>    
</body>
</html>