<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUS_NEXUS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Space+Grotesk:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">   
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/policies.css">
</head>


<body>
    <header>
        <nav>
            <section class="container nav_bar flex">
                <div class="brand flex">
                    <img src=".\img\img25.png" width="60px" height="40px" alt="" class="logo">
                    <div class="logo-text">
                        <h3 class="logo-title">BUS_NEXUS</h3>
                        <p class="logo-subtitle">Bridging Gaps, Connecting Lives</p>
                    </div>
                    
                </div>
                <div>
                    <ul class="nav_links">
                        <li><a href="index.html" class="nav_link small-bold-text">Home</a></li>
                        <li><a href="#features-link" class="nav_link small-bold-text">Features</a></li>
                        <div class="dropdown">
                            <button class="nav_link small-bold-text">Account</button>
                            <div class="dropdown-content">
                                <a href="My_Bookings.html">My Bookings</a>
                                <a href="Search_Page.html">Search BUS</a>
                                <a href="My_Bookings.html">Cancel Bookings</a>
                            </div>
                        </div>
                        <li><a href="" class="nav_link primary-button small-bold-text">Log in</a></li>
                        <li><a href="" class="nav_link secondary-button small-bold-text" id="sign-up-text">Sign Up</a>
                        </li>
                        <div class="menu dropdown">
                            <button><i class="ri-menu-line"></i></button>
                            <div class="dropdown-content">
                                <a href="index.html">Home</a>
                                <a href="#features-link">Features</a>
                                <a href="My_Bookings.html">My Bookings</a>
                                <a href="Search_Page.html">Search BUS</a>
                                <a href="My_Bookings.html">Cancel Bookings</a>
                            </div>
                        </div>
                        
                    </ul>
                </div>
            </section>
            <hr>
        </nav>
    </header>
    <main>
        <div class="policies_content container">
            <div class="privacy_policy content download-text">
                <h2>Privacy_Policy</h2>
                <p>At bus_nEXUS, we take your privacy seriously. We are committed to safeguarding the personal information you provide while using our bus management services. Our Privacy Policy outlines how we collect, use, and protect your data. We ensure that your information is only used for the purpose of delivering our services and improving your experience with us. Your trust is important to us, and we're dedicated to maintaining the highest standards in data security and privacy.</p>
            </div>
            <div class="terms_and_conditions content download-text">
                <h2>Terms_and_Conditions</h2>
                <p>Our website's Terms and Conditions provide the legal framework for using our bus management services. By accessing and using our website, you agree to abide by these terms, which cover aspects such as your responsibilities as a user, payment policies, and any restrictions. Please read these terms carefully to understand the rules and regulations governing your interaction with bus_nEXUS.</p>
            </div>
            <div class="contact_us content download-text">
                <h2>Contact_US</h2>
                <p>Your feedback and inquiries are valuable to us. If you have any questions, concerns, or suggestions related to our bus management services, please don't hesitate to get in touch. Our dedicated support team is here to assist you. You can reach us through our Contact Us page, where you'll find various methods to connect with us, including email, phone, and a contact form. We are always striving to provide you with the best possible bus management experience, and your input helps us achieve that goal. Feel free to reach out, and we'll be happy to assist you.</p>
            </div>
        </div>        
    </main>
</body>